name: Deploy docs to GitHub Pages

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Upload `docs` artifact for Pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./docs

  deploy:
    needs: upload
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
